.wrap{margin: 30px auto 60px; width: 1280px;}

#location{}
#location ul::after{content: ""; display: block; clear: both;}
#location ul li{float: left; font-size: 14px; color: #818181; position: relative; margin-right: 20px;}
#location ul li::after{content: ""; position: absolute; top: 2px; right: -10px; width: 1px; height: 10px; background: #818181;}
#location ul li:last-of-type::after{content: none;}

h1{text-align: center; font-size: 35px; color: #2385c5; margin: 30px 0 65px; position: relative;}
h1::after{content: ""; position: absolute; bottom: -25px; left: 50%; width: 50px; height: 2px; background: #2385c5; transform: translateX(-50%);}

#registration_date{display: flex; justify-content:flex-end; align-items: center;}
#registration_date input{border: 1px solid #b7b7b7; text-align: center; width: 125px; height: 45px; color: #454545; padding: 0 10px; font-size: 15px; box-sizing: border-box; margin-left: 5px;}
#registration_date span{text-align: center; color: #b7b7b7;  margin-left: 5px;}
#registration_date button{background: #2385c5; height: 45px; text-align: center; color: #fff; font-size: 15px; padding: 0 10px; width: 100px; border: 1px solid #2385c5; cursor: pointer; margin-left:10px; font-weight: bold;}


#notice_list{margin-top: 15px;}
#notice_list table{width: 100%; text-align: center; border-top: 3px solid #2385c5;}
#notice_list table th{border-bottom: 1px solid #2385c5; padding: 15px 0; color: #454545;}
#notice_list table td{border-bottom: 1px solid #cdcdcd; padding: 15px 0; color: #818181;}
#notice_list table td:nth-of-type(2){color: #454545;}
#notice_list table td a{color: #454545; text-decoration: none;}
#notice_list table td a:hover{text-decoration: underline;}

#notice_list .pagination{display: flex; align-items:center; justify-content:center; margin-top: 40px;}
#notice_list .pagination li{margin: 0 10px;}
#notice_list .pagination li.last,
#notice_list .pagination li.prev,
#notice_list .pagination li.first,
#notice_list .pagination li.next{margin: 0;}
#notice_list .pagination li a{color: #454545; text-decoration: none;}
#notice_list .pagination li a img{vertical-align: middle;}
#notice_list .pagination li.on a{color: #2385c5; text-decoration: underline;}

.btn_wrap {display: flex; flex-direction:row-reverse;}
.btn_wrap .write_btn{background: #2385c5; text-decoration: none; color: #fff; font-size: 18px; font-weight: bold; padding: 14px 50px;}


/* input type date 달력 부분 */
.ui-widget-header { border: 0px solid #dddddd; background: #fff; } 
.ui-datepicker-calendar>thead>tr>th { font-size: 14px !important; } 

.ui-datepicker .ui-datepicker-header { position: relative; padding: 10px 0 20px; } 

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active { border: 0px solid #c5c5c5; background-color: transparent; font-weight: normal; color: #454545; text-align: center; } 

.ui-datepicker .ui-datepicker-title { margin: 0 0em; line-height: 16px; text-align: center; font-size: 14px; padding: 0px; font-weight: bold; position: absolute; top: 3px; left: 50%; transform: translateX(-50%);} 
.ui-datepicker .ui-datepicker-title select{border: 0; appearance:none; font-size: 25px; cursor: pointer;}

.ui-datepicker { display: none; background-color: #fff; border-radius: 4px; margin-top: 10px; margin-left: 0px; margin-right: 0px; padding: 20px; padding-bottom: 10px; width: 300px; box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1); } 

.ui-widget.ui-widget-content { border: 1px solid #eee; } 

#datepicker:focus>.ui-datepicker { display: block; } 

.ui-datepicker-prev,
.ui-datepicker-next { cursor: pointer; } 

.ui-datepicker-next { float: right; } 

.ui-state-disabled { cursor: auto; color: hsla(0, 0%, 80%, 1); } 

.ui-datepicker-title { text-align: center; padding: 10px; font-weight: 100; font-size: 20px; } 

.ui-datepicker-calendar { width: 100%; } 

.ui-datepicker-calendar>thead>tr>th { padding: 5px; font-size: 20px; font-weight: 400; } 

.ui-datepicker-calendar>tbody>tr>td>a { color: #000; font-size: 12px !important; font-weight: bold !important; text-decoration: none; padding: 10px;}

.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover { cursor: auto; background-color: #fff; } 

.ui-datepicker-calendar>tbody>tr>td { border-radius: 100%; width: 44px; height: 30px; cursor: pointer; padding: 5px; font-weight: 100; text-align: center; font-size: 12px; vertical-align: middle; } 

.ui-datepicker-calendar>tbody>tr>td:hover { background-color: transparent; opacity: 0.6; } 

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus { border: 0px solid #cccccc; background-color: transparent; font-weight: normal; color: #2b2b2b; } 

.ui-widget-header .ui-icon { background-image: url('../images/btns.png'); } 

.ui-icon-circle-triangle-e { background-position: -20px -4px; background-size: 50px;color: rgba(255, 255, 255, 0); } 

.ui-icon-circle-triangle-w { background-position: 2px -4px; background-size: 50px; color: rgba(255, 255, 255, 0);} 

.ui-datepicker-calendar>tbody>tr>td:first-child a { color: red !important; } 

.ui-datepicker-calendar>tbody>tr>td:last-child a { color: #0099ff !important; } 

.ui-datepicker-calendar>thead>tr>th:first-child { color: red !important; } 

.ui-datepicker-calendar>thead>tr>th:last-child { color: #0099ff !important; } 

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight { border: 0px; background: #f1f1f1; border-radius: 50%; padding-top: 10px; padding-bottom: 10px; } 

.inp { padding: 10px 10px; background-color: #f1f1f1; border-radius: 4px; border: 0px; } 

.inp:focus { outline: none; background-color: #eee; }

.ui-datepicker-trigger{display: none;}





@media screen and (min-width: 769px) and (max-width: 1279px){ 

    .wrap{margin: 30px auto 60px; width: 90%;}


}


@media screen and (max-width: 768px){ 

   


 }

table {
    width: 100%; /* 테이블 전체 너비를 부모 요소에 맞춤 */
    table-layout: fixed; /* 열 너비 고정 */
}

th, td {
    width: 25%; /* 각 열의 너비를 테이블 너비의 25%로 설정 */
    text-overflow: ellipsis; /* 내용이 넘칠 경우 생략 기호 사용 */
    white-space: nowrap; /* 내용을 한 줄에 표시 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 */
}
