<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="css/reset.css">
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
    <link rel="stylesheet" href="css/style.css">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script  src="js/script.js"></script>
</head>
<body>
    <div class="wrap">
        <section id="location">
            <ul>
                <li>홈</li>
                <li>기타관리</li>
                <li>공지사항 관리</li>
            </ul>
        </section>

        <h1>공지사항 관리</h1>

        <section id="registration_date">
            <input type="text" id="datepicker" placeholder="날짜선택">
            <span>~</span>
            <input type="text" id="datepicker2" placeholder="날짜선택">
            <button>검색</button>
        </section>

        <section id="notice_list">
            <table>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>등록일자</th>
                    <th>조회수</th>
                </tr>
                <tr>
                    <td>10</td>
                    <td><a href="#none">[서버점검안내] 안녕하세요. LUMEN 입니다.</a></td>
                    <td>2024.03.23</td>
                    <td>156,123</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td><a href="#none">[서버점검안내] 안녕하세요. LUMEN 입니다.</a></td>
                    <td>2024.03.23</td>
                    <td>156,123</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td><a href="#none">[서버점검안내] 안녕하세요. LUMEN 입니다.</a></td>
                    <td>2024.03.23</td>
                    <td>156,123</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td><a href="#none">[서버점검안내] 안녕하세요. LUMEN 입니다.</a></td>
                    <td>2024.03.23</td>
                    <td>156,123</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><a href="#none">[서버점검안내] 안녕하세요. LUMEN 입니다.</a></td>
                    <td>2024.03.23</td>
                    <td>156,123</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><a href="#none">[서버점검안내] 안녕하세요. LUMEN 입니다.</a></td>
                    <td>2024.03.23</td>
                    <td>156,123</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><a href="#none">[서버점검안내] 안녕하세요. LUMEN 입니다.</a></td>
                    <td>2024.03.23</td>
                    <td>156,123</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a href="#none">[서버점검안내] 안녕하세요. LUMEN 입니다.</a></td>
                    <td>2024.03.23</td>
                    <td>156,123</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href="#none">[서버점검안내] 안녕하세요. LUMEN 입니다.</a></td>
                    <td>2024.03.23</td>
                    <td>156,123</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#none">[서버점검안내] 안녕하세요. LUMEN 입니다.</a></td>
                    <td>2024.03.23</td>
                    <td>156,123</td>
                </tr>
            </table>

            <ul class="pagination">
                <li class="first"><a href="#none"><img src="images/first.png" alt=""></a></li>
                <li class="prev"><a href="#none"><img src="images/prev.png" alt=""></a></li>
                <li class="on"><a href="#none">1</a></li>
                <li><a href="#none">2</a></li>
                <li><a href="#none">3</a></li>
                <li><a href="#none">4</a></li>
                <li><a href="#none">5</a></li>
                <li><a href="#none">6</a></li>
                <li><a href="#none">7</a></li>
                <li><a href="#none">8</a></li>
                <li><a href="#none">9</a></li>
                <li><a href="#none">10</a></li>
                <li class="next"><a href="#none"><img src="images/next.png" alt=""></a></li>
                <li class="last"><a href="#none"><img src="images/last.png" alt=""></a></li>
            </ul>
        </section>

        <div class="btn_wrap">
            <a href="#none" class="write_btn">글쓰기</a>
        </div>
    </div>    
</body>
</html>