<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{http://code.jquery.com/jquery-latest.min.js}"></script>
    <script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
<div class="wrap">
    <section id="location">
        <ul>
            <li>홈</li>
            <li>기타관리</li>
            <li>공지사항 관리</li>
        </ul>
    </section>

    <h1>공지사항 관리</h1>

    <section id="registration_date">
        <input type="text" id="datepicker" placeholder="날짜선택">
        <span>~</span>
        <input type="text" id="datepicker2" placeholder="날짜선택">
        <button>검색</button>
    </section>

    <section id="notice_list">
        <table>
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>등록일자</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${list}">
                <td th:text="${list.boardKey}">10</td>
                <td><a th:href="@{/board/{id}(id=${list.boardKey})}" th:text="${list.boardTitle}">[서버점검안내] 안녕하세요. LUMEN 입니다.</a></td>
                <td th:text="${#temporals.format(list.boardDate, 'yyyy.MM.dd')}">2024.03.23</td>
                <td th:text="${list.viewCount == 0 ? '0' : #numbers.formatInteger(list.viewCount, 1, 'COMMA')}">156,123</td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li th:class="${pageMaker.prev ? null : 'disabled'}">
                    <a th:href="@{/board(pageNum=${pageMaker.startPage - 1}, amount=${criteria.amount})}" aria-label="Previous" th:if="${pageMaker.prev}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="pageNum : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}"
                    th:class="${pageNum == criteria.pageNum ? 'active' : null}">
                    <a th:href="@{/board(pageNum=${pageNum}, amount=${criteria.amount})}" th:text="${pageNum}">1</a>
                </li>
                <li th:class="${pageMaker.next ? null : 'disabled'}">
                    <a th:href="@{/board(pageNum=${pageMaker.endPage + 1}, amount=${criteria.amount})}" aria-label="Next" th:if="${pageMaker.next}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>


    </section>

    <div class="btn_wrap">
        <a href="#none" class="write_btn">글쓰기</a>
    </div>
</div>
</body>
</html>
